<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Lựa Chọn Games" />
    <meta name="keywords" content="Sàn, giao, dịch, nhị, phân" />

    <title>Trang Chủ</title>

    <link rel="stylesheet" href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="min-h-screen bg-gray-50 py-6 flex flex-col justify-center relative overflow-hidden sm:py-12">
      <img
        src="/images/4e4856774f678339da76.jpeg"
        alt=""
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full object-cover"
      />
      <div
        class="absolute inset-0 bg-[url(/images/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
      ></div>
      <div
        class="relative px-6 pt-10 pb-8 bg-white shadow-xl ring-1 ring-gray-900/5 sm:max-w-6xl sm:mx-auto sm:rounded-lg sm:px-10"
      >
        <div class="max-w-6xl mx-auto">
          <div class="divide-y divide-gray-300/50">
            <div class="py-8 leading-7 space-y-6 text-gray-600">
              <h1 class="text-2xl">HỆ THỐNG TOOL BÁO KẾT QUẢ CHUẨN XÁC</h1>
              <ul class="space-y-4">
                <li class="flex items-center">
                  <svg
                    class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="12" cy="12" r="11" />
                    <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                  </svg>
                  <p class="ml-4">
                    Phần mềm được phát triển bởi đội ngũ lập trình hàng đầu.
                  </p>
                </li>
                <li class="flex items-center">
                  <svg
                    class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="12" cy="12" r="11" />
                    <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                  </svg>
                  <p class="ml-4">
                    Tỉ lệ chính xác T.uyệt đối!
                  </p>
                </li>
                <li class="flex items-center">
                  <svg
                    class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="12" cy="12" r="11" />
                    <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                  </svg>
                  <p class="ml-4">Không ăn được C.am Kết H.oàn T.iền cho quý vị.</p>
                </li>
              </ul>
              <div class="flex justify-between text-center">
                <a href="/dang-nhap" class="w-1/2 bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white">Sàn Giao Dịch &rarr;</a>
                <div class="w-4"></div>
                <a href="/lua-chon-game" class="w-1/2 bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white">Game Đổi Thưởng &rarr;</a>
              </div>
            </div>
            <!-- <div class="pt-8 text-base leading-7 font-semibold">
              <p class="text-gray-900">Want to dig deeper into Tailwind?</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
